*.o
*.d
*.a
*.depend
*.layout
*.cscope_file_list
*~
.*
*.obj
*.tlog
*.log
*.pdb
*.iobj
*.ipdb
*.exe
Thumbs.db
*.kdev4
*.dll
*.exp
*.lib
*.ilk
*Visual*
lib/asio/CMakeFiles/
lib/asio/Makefile
lib/asio/cmake_install.cmake
lib/serial/CMakeFiles/
lib/serial/Makefile
lib/serial/cmake_install.cmake