*.o
*.d
*.a
*.depend
*.layout
*.cscope_file_list
*~
.*
*.obj
*.tlog
*.log
*.pdb
*.iobj
*.ipdb
Thumbs.db
build/
bin/
src/libs/Irrlicht/irrlicht-svn/lib/Linux/
src/libs/Irrlicht/irrlicht-svn/source/Irrlicht/src/
src/libs/Irrlicht/irrlicht-svn/source/Irrlicht/tmp/
*.kdev4
